# MacOs files
.DS_Store

# Jetbrain files
.idea

# Jupyter notebook checkpoints
*.ipynb_checkpoints

# Jupyter notebook caches
*.pyc
*.ipynb

# Python files
__pycache__/
.venv/
venv/

# Django files
staticfiles/
db.sqlite3