# MacOs files
.DS_Store

# Jetbrain files
.idea

# Jupyter notebook checkpoints
*.ipynb_checkpoints

# Jupyter notebook caches
*.pyc

# LateX files
*.aux
thesis.bbl
thesis.blg
thesis.idx
thesis.ilg
thesis.ind
thesis.lof
thesis.log
thesis.lot
thesis.nlo
thesis.nls
thesis.out
thesis.ps
thesis.toc
